

.editor-wrap{
  border: 1px solid #bbb;
}

.DraftEditor-root{
  width:100%;
  min-height:150px;
  padding:10px;
  border:1px solid #000;
  box-sizing:border-box;
}

.DraftEditor-root h1{
  font-size:30px;
}

.DraftEditor-root h2{
  font-size:26px;
}

.DraftEditor-root p{
  font-size:16px;
}
